.App {
  overflow-x: hidden;
}

.logo {
  width: 100%;
  /* padding: 50px 70px; */
  padding-top: clamp(20px, 30px, 50px);
  padding-left: clamp(25px, 4px, 70px);
}

.logo > img {
  min-width: 50px;
}

.text-gradient {
  background: linear-gradient(96.78deg, #2042b8 13.32%, #ff6600 138.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 301px;
  min-width: 100px;
  height: 113px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 94.4536px;
  line-height: 113px;
}

@media only screen and (max-width: 600px) {
  .text-gradient {
    /* width: 100px; */
    font-size: 31px;
  }

  .logo > img {
    width: 50px;
  }
}

.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.paginationActive {
  color: #c55c18;
}

.pagination p:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
